/* CSS Document */
@charset "utf-8";
body {
	background-color: #cadedf;
	margin: 0px;
	padding: 0px;
}
#mainbody {
	height: auto;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#banner {
	height: 80px;
}
#banner a {
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 10px;
	margin-right: 10px;
}
.logo {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#content {
	background-color: #FFF;
	min-height:450px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#content h3 {
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 7px;
	text-align: center;
}
#content h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 4px;
	margin-bottom: 0px;
	width: 230px;
}
.line {
	border-top-width: 1px;
	border-top-color: #000;
	text-decoration: underline;
}

#content p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 5px;
}
#content a {
	text-decoration: none;
}
#content li {
	list-style-type: none;
	text-align: right;
}
#content table {
	margin-left: 10px;
}
#menu {
	height: 33px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(images/menu_bg.jpg);
	background-repeat: repeat-x;
	border: 1px solid #9396FF;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
#menu ul {
	display: block;
	margin: 0px;
	padding: 0px;
}
#menu li {
	float: left;
	list-style-type: none;
	text-align: center;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#menu a {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 14px;
	margin: 0px;
	font-weight: bold;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 9px;
	padding-left: 15px;
}
#menu a:hover {
	color: #FFF;
	background-image: url(images/hover.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 9px;
	padding-left: 15px;
}
.submenu {
	width: 620px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.submenu ul {
	text-align: center;
	margin-top: 0px;
	margin-bottom: auto;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
.submenu li {
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
}
.submenu a {
	color: #000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
	padding-top: 0px;
}
.submenu a:hover {
	text-decoration: underline;
	color: #000;
}
#itimg {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}
.linkbox {
	height: 140px;
	width: 170px;
	margin-left: 45px;
	padding-top: 10px;
	float: left;
}
.linkbox p {
	margin-top: 3px;
}
.linkbox a {
	color: #000;
	text-decoration: none;
}

.linkbox a:hover {
	text-decoration: underline;
}
.contacttext {
	margin-top: 0px;
	padding-top: 0px;
}
.textbox {
	float: left;
	width: 400px;
}
.imgbox {
	float: right;
	width: 200px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
}
.imgbox img {
	margin: 0px;
}
.imgholder {
	margin-bottom: 0px;
	margin-top: 20px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.imgholder img {
	border: 1px solid #CCC;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.imgholder img a {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.pritinfo {
	float: left;
	height: 300px;
	width: 200px;
}
.pritinfo table {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 13px;
	font-size: 14px;
}
.pritimage {
	float: right;
	height: auto;
	width: 280px;
	margin-right: 5px;
	margin-left: 5px;
}
.sprittext {
	font-size: 14px;
}
#footer {
	height: 30px;
	background-repeat: repeat-x;
	margin: 0px;
	background-color: #FFF;
	clear: both;
}
#footer p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin: 0px;
	clear: both;
	padding-top: 5px;
}
